<div th:fragment="schedule">
  <div class="schedule-wrap">
    <div class="d-md-flex align-items-center">
      <div class="hours mr-md-4 mb-4 mb-lg-0">
        <strong class="d-block">Torne-se um Atleta de Elite</strong>
        De atletas para atletas. Pensado e projetado para te fazer um atleta de calibre elite.</div>
      <div class="cta ml-auto">
        <a href="#contact-section" class="smoothscroll d-flex d-md-flex align-items-center btn">
          <span class="mx-auto">
            <span>Registrar-me</span> <span class="arrow icon-keyboard_arrow_right"></span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>