<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="admin/fragments/heads :: heads"></div>
    <title>Athlon | Listagem de Atividades</title>
</head>
<body>
<div class="container">

    <div th:replace="admin/fragments/header :: header"></div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <span th:text="${mensagem}"></span>
            </div>
        </div>

        <div class="col-12 mb-3 d-flex justify-content-between align-items-center flex-wrap">
            <h2>Listagem de <b>Atividades</b></h2>
        </div>

        <div class="row mb-3">
            <div class="col-sm-8">
                <div class="form-actions">
                    <form th:action="@{/atividade/buscar}" method="post" class="d-flex gap-0">
                        <select class="form-control form-control-sm" name="modalidade">
                            <option value="">Todas as modalidades</option>
                            <option value="CICLISMO" th:selected="${modalidade == 'CICLISMO'}">Ciclismo</option>
                            <option value="CORRIDA" th:selected="${modalidade == 'CORRIDA'}">Corrida</option>
                            <option value="MUSCULACAO" th:selected="${modalidade == 'MUSCULACAO'}">Musculação</option>
                            <option value="NATACAO" th:selected="${modalidade == 'NATACAO'}">Natação</option>
                        </select>
                        <button class="btn btn-primary btn-sm" type="submit">
                            Buscar <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <a th:href="@{/atividade/form-inserir}" class="btn btn-success btn-sm" sec:authorize="hasRole('USER')">
                        Cadastrar <i class="fa-solid fa-floppy-disk"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12">
            <table class="table table-striped table-hover">
                <thead class="table-light">
                <tr>
                    <th>Modalidade</th>
                    <th th:if="${not #lists.isEmpty(atividades)}">Distância</th>
                    <th>Unidade</th>
                    <th>Tempo Total</th>
                    <th>Percepção de Esforço</th>
                    <th>Tipo de Treino</th>
                    <th>Notas</th>
                    <th>Data e Hora</th>
                    <th sec:authorize="hasRole('ADMIN')">Atleta</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${atividades.empty}">
                    <td colspan="10" class="text-center">Nenhum registro encontrado</td>
                </tr>
                <tr th:each="atividade : ${atividades}">
                    <td th:text="${atividade.modalidade}">Modalidade</td>
                    <td th:if="${atividade.modalidade != 'MUSCULACAO'}" th:text="${atividade.distancia}">Distância</td>
                    <td th:if="${atividade.modalidade == 'MUSCULACAO'}">Não aplicável</td>
                    <td th:text="${atividade.unidadeMedida}">Unidade</td>
                    <td th:text="${atividade.tempoTotal}">Tempo Total</td>
                    <td th:text="${atividade.percepcaoEsforco}">Percepção de Esforço</td>
                    <td th:text="${atividade.tipoTreino}">Tipo de Treino</td>
                    <td th:text="${atividade.notas}">Notas</td>
                    <td th:text="${#temporals.format(atividade.dataHora, 'dd/MM/yyyy HH:mm')}">Data e Hora</td>
                    <td sec:authorize="hasRole('ADMIN')" th:text="${atividade.atleta.nome}">Atleta</td>
                    <td class="d-flex flex-wrap gap-1">
                        <a class="btn btn-outline-danger btn-sm"
                           th:href="@{/atividade/excluir/{id}(id=${atividade.id})}"
                           th:data-confirm-delete="|Você gostaria de apagar esta atividade?|"
                           th:if="${atividade.podeEditar}"
                           onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                            Apagar <i class="fa-solid fa-trash"></i>
                        </a>
                        <a class="btn btn-outline-primary btn-sm"
                           th:href="@{/atividade/alterar/{id}(id=${atividade.id})}"
                           th:if="${atividade.podeEditar}">
                            Editar <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div th:replace="admin/fragments/footer :: footer"></div>

</div>
</body>
</html>
